In [424]:
# 4기 이민혁
import pandas as pd

df = pd.read_csv('02_Data.csv')

In [426]:
# 1. 렌탈 고객 유입 채널 분석

## 1-1. 유입 경로(Channel) 분석데이터에서 고객들의 유입 경로(Channel)를 분석하여, 가장 많은 고객이 유입된 경로를 확인하시오.
print(df.groupby('Channel').size().idxmax())

영업방판

In [428]:
## 1-2. 월렌탈비용 평균 계산 1번에서 확인한 가장 많이 유입된 경로에 대해, 계약된 월렌탈비용(Amount_Month)의 평균을 계산하시오.
df2 = df[df['Channel'] == df.groupby('Channel').size().idxmax()]
df2['Amount_Month'].mean()

100322.79463121135

In [502]:
## 1-3. 특정 유입 경로 고객 명단 추출유입 경로(Channel) 중 '대형마트A'로 유입된 고객들 중, 
## 연체 건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 result4.xlsx 로 저장하시오.

result4 = df[df['Channel'] == '대형마트A'].sort_values('Overdue_count', ascending=False).head(30)
result4.to_excel('result4.xlsx', index = False)

In [490]:
# 2. 렌탈 계약 제품군 분석

## 2-1. 제품군(Product_Type) 데이터 확인데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고, 
## 해당 제품군에 어떤 데이터가 포함되어 있는지 확인하시오

print('가장 많이 계약한 제품군 : ',  df.groupby('Product_Type').size().idxmax())
df[df['Product_Type'] == df.groupby('Product_Type').size().idxmax()]

가장 많이 계약한 제품군 :  DES-1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,...,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank,Year,WorkWeek
0,1,66758234,렌탈,일반계약,영업방판,2022-05-05,60,CMS,DES-1,96900,...,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고,2022,18
1,2,66755948,렌탈,교체계약,영업방판,2023-02-19,60,카드이체,DES-1,102900,...,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드,2023,7
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2022-02-27,60,CMS,DES-1,96900,...,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행,2022,8
3,4,66423450,멤버십,멤버십3유형,재계약,2022-05-12,12,CMS,DES-1,66900,...,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합,2022,19
4,5,66423204,멤버십,멤버십3유형,재계약,2022-05-09,12,CMS,DES-1,66900,...,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합,2022,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51293,51295,66799369,렌탈,일반계약,대형마트A,2023-07-10,60,CMS,DES-1,96900,...,경기도,경기도,계약확정,0,없음,여자,1.0,국민은행,2023,28
51295,51297,66792261,렌탈,일반계약,홈쇼핑/방송,2022-03-10,60,카드이체,DES-1,96900,...,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드,2022,10
51297,51299,66799558,렌탈,일반계약,대형마트A,2022-03-31,60,CMS,DES-1,96900,...,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고,2022,13
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2023-02-05,60,카드이체,DES-1,96900,...,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드,2023,5
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2022-04-23,60,CMS,DES-1,96900,...,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행,2022,16

In [494]:
## 2-2 상위 3개 제품군의 월렌탈비용 합계 계산 : 제품군(Product_Type) 중 계약 건수(빈도)가 가장 높은 상위 3개의 항목을 추출하여 df2로 선언한 뒤, 
## 계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합계를 계산하고 result5.xlsx 파일로 저장하시오.

top_product_types = df['Product_Type'].value_counts().nlargest(3).index

# 상위 3개 제품군에 해당하는 데이터 필터링
df2 = df[df['Product_Type'].isin(top_product_types)]
print(df2.groupby('Datetime')['Amount_Month'].sum())
df2.groupby('Datetime')['Amount_Month'].sum().to_excel('result5.xlsx')

Datetime
2021-12-31    4556400
2022-01-01    4903800
2022-01-02    7146300
2022-01-03    4920900
2022-01-04    5505450
               ...
2023-08-03    2903739
2023-08-04    2858343
2023-08-05    3031842
2023-08-06    2770758
2023-08-07    1984143
Name: Amount_Month, Length: 577, dtype: int64

In [435]:
## 2-3 상위 2개 제품군 간 월렌탈 비용 평균 차이 계산 : 계약 건수가 가장 많은 상위 2개의 제품군(Product_Type)에 대해, 월렌탈비용(Amount_Month)의 평균 차이를 계산하시오.
top_product_types = df['Product_Type'].value_counts().nlargest(2).index
df2 = df[df['Product_Type'].isin(top_product_types)]
mean2_3 = df2.groupby('Product_Type')['Amount_Month'].mean()

print('차이 : ', abs(mean2_3['DES-1'] - mean2_3['DES-2']))

차이 :  6868.154548431063

In [437]:
# 3. 계약 고객 특성 분석

In [474]:
## 3-1. 결제 은행(Bank) 확인 데이터에서 고객들이 결제하는 은행(Bank)을 확인하고, 결제 은행 항목에서 '신한카드'로 결제하는 고객 수를 확인하시오.
print(df['Bank'].drop_duplicates(ignore_index=True))
print('\'신한카드\'로 결제하는 고객 수 : ', (df14['Bank'] == '신한카드').sum())

0         새마을금고
1          현대카드
2          우리은행
3        농협회원조합
4         농협중앙회
5          롯데카드
6          신한은행
7          국민카드
8          부산은행
9           우체국
10         국민은행
11         기업은행
12       SC제일은행
13          NaN
14         대구은행
15         하나은행
16         신한카드
17         삼성카드
18         광주은행
19         외환은행
20         BC카드
21         씨티은행
22        신협중앙회
23         경남은행
24       미래에셋증권
25         외환카드
26        수협중앙회
27        유안타증권
28         전북은행
29       상호저축은행
30         대신증권
31         산업은행
32         현대증권
33      산림조합중앙회
34         제주은행
35         삼성증권
36       하나대투증권
37         SK증권
38         수협카드
39       한국투자증권
40       신한금융투자
41         하나SK
42       NH농협카드
43    메리츠종합금융증권
44       하이투자증권
45         우리카드
46         대우증권
47         씨티카드
Name: Bank, dtype: object
'신한카드'로 결제하는 고객 수 :  1532

In [440]:
## 3-2. 특정 조건 고객 행 수 확인 : 월렌탈비용(Amount_Month)이 15만원 이상인 고객들 중, 
## 판매 유형(Sales_Type)이 '렌탈'인 고객만 추출하여 해당 데이터의 행 수(index 개수)를 확인하시오.

a = df['Amount_Month'] >= 150000
b = df['Sales_Type'] == '렌탈'

len(df[a & b])

141

In [441]:
# 4. 전체 계약 건 분석

In [443]:
## 4-1 계약 연도 파생 변수 생성 및 월렌탈 비용 합계 : 계산계약일자(Datetime)에서 계약 연도(Year) 파생 변수를 생성하고, 
## 연도별로 각 제품군(Product_Type)의 월렌탈비용(Amount_Month) 합계를 계산하시오.

df['Year'] = pd.to_datetime(df['Datetime']).dt.year

df.groupby(['Year', 'Product_Type'])['Amount_Month'].sum()

Year  Product_Type
2021  DES-1              3201600
      DES-2              1082100
      DES-3A              272700
2022  DES-1           2945729313
      DES-2            631794330
      DES-3A           157173060
      DES-R4            33891300
      ERA               62944500
      MMC               17540100
2023  DES-1            746184813
      DES-2            154780860
      DES-3A            39639300
      DES-R4             8437200
      ERA               14171100
      MMC                5193900
Name: Amount_Month, dtype: int64

In [510]:
## 4-2 제품군별 증감율 계산 (2022년 대비 2023년) : 2022년과 2023년 각 제품군(Product_Type)별 월렌탈비용(Amount_Month) 합계의 증감율을 계산하시오.
df4_2 = df.groupby(['Year', 'Product_Type'])['Amount_Month'].sum().to_frame()
df4_2 = (df4_2.loc[2022] - df4_2.loc[2023]) / df4_2.loc[2022]
df4_2.columns = ['rate']

df4_2

                  rate
Product_Type
DES-1         0.746689
DES-2         0.755014
DES-3A        0.747798
DES-R4        0.751051
ERA           0.774864
MMC           0.703884

In [450]:
## 4-3 판매 유형별 월렌탈비용 평균 차이 계산 : 판매 유형(Sales_Type)에서 '렌탈' 계약과 '멤버십' 계약의 월렌탈비용(Amount_Month) 평균 차이를 계산하시오.
df4_3 = df.groupby('Sales_Type')['Amount_Month'].mean()

print(' 차이 : ', abs(df4_3['렌탈'] - df4_3['멤버십']))

 차이 :  34122.413318100276

In [506]:
## 4-4 주차별 계약 데이터 자동 정리 함수 생성계약 데이터를 주기적으로 정리하는 업무 자동화 프로그램을 위해, 
## 데이터에서 주차(Work Week)를 입력받아 해당 주차의 제품군(Product_Type)별 월렌탈비용(Amount_Month)의 합계와 평균을 엑셀 파일로 출력하는 함수를 생성하시오.

df['Datetime'] = pd.to_datetime(df['Datetime'])
df['WorkWeek'] = df['Datetime'].dt.isocalendar().week

def auto_week(week):
    df4_4 = df[df['WorkWeek'] == week]
    result = pd.DataFrame({
        '합계' : df4_4.groupby('Product_Type')['Amount_Month'].sum(),
        '평균' : df4_4.groupby('Product_Type')['Amount_Month'].mean()
    })

    result.to_excel('result4_4.xlsx')
    print(result)

input_week = int(input('주차를 입력하세요 : '))

auto_week(input_week)

주차를 입력하세요 :  5

                    합계             평균
Product_Type
DES-1         93814218   94570.784274
DES-2         19434810   86762.544643
DES-3A         4566600   93195.918367
DES-R4          923100  131871.428571
ERA            1559700  119976.923077
MMC             772800  193200.000000