In [216]:
# 데이터 스크래핑 : 인터넷에서 정보를 가져오는 기술
import requests # 페이지 요청
from bs4 import BeautifulSoup # html 소스코드를 파이썬으로 다룰 수 있게 변환
import time 
import pandas as pd

url = requests.get('https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&q=%EB%A1%9C%EB%98%90')

In [20]:
# 200 정상 (가져오는데 충돌이 없었다.)
# 400번대 : 존재하지 않는 페이지
# 500번대 : 제한된 페이지, 오류

html = BeautifulSoup(url.text)

In [23]:
html.find('span', attrs={'class' : 'ball bg_ball1'})

In [25]:
html.find('span', class_ = 'ball bg_ball1').text # 알맹이만 불러오기 text

'7'

In [27]:
n = int(html.find('span', class_ = 'f_red').text[:-1])

In [92]:
def make_numbers(html):
    box = html.find('div', class_ = 'lottonum').find_all('span')
    del box[6:8]
    box

    numbers = []
    for i in box:
        numbers.append(int(i.text))
    return numbers

In [94]:
make_numbers(html)

[7, 13, 18, 36, 39, 45, 19]

In [104]:
total = []
for i in range(1, 21):
    url = requests.get(f'https://search.daum.net/search?w=tot&rtmaxcoll=LOT&DA=LOT&q={i}%ED%9A%8C%20%EB%A1%9C%EB%98%90%EB%8B%B9%EC%B2%A8%EB%B2%88%ED%98%B8')
    html = BeautifulSoup(url.text)
    numbers = make_numbers(html)
    total.append(numbers)
    print(f'{i}회 로또 데이터 저장완료 : {numbers}')
    time.sleep(1)

1회 로또 데이터 저장완료 : [10, 23, 29, 33, 37, 40, 16]
2회 로또 데이터 저장완료 : [9, 13, 21, 25, 32, 42, 2]
3회 로또 데이터 저장완료 : [11, 16, 19, 21, 27, 31, 30]
4회 로또 데이터 저장완료 : [14, 27, 30, 31, 40, 42, 2]
5회 로또 데이터 저장완료 : [16, 24, 29, 40, 41, 42, 3]
6회 로또 데이터 저장완료 : [14, 15, 26, 27, 40, 42, 34]
7회 로또 데이터 저장완료 : [2, 9, 16, 25, 26, 40, 42]
8회 로또 데이터 저장완료 : [8, 19, 25, 34, 37, 39, 9]
9회 로또 데이터 저장완료 : [2, 4, 16, 17, 36, 39, 14]
10회 로또 데이터 저장완료 : [9, 25, 30, 33, 41, 44, 6]
11회 로또 데이터 저장완료 : [1, 7, 36, 37, 41, 42, 14]
12회 로또 데이터 저장완료 : [2, 11, 21, 25, 39, 45, 44]
13회 로또 데이터 저장완료 : [22, 23, 25, 37, 38, 42, 26]
14회 로또 데이터 저장완료 : [2, 6, 12, 31, 33, 40, 15]
15회 로또 데이터 저장완료 : [3, 4, 16, 30, 31, 37, 13]
16회 로또 데이터 저장완료 : [6, 7, 24, 37, 38, 40, 33]
17회 로또 데이터 저장완료 : [3, 4, 9, 17, 32, 37, 1]
18회 로또 데이터 저장완료 : [3, 12, 13, 19, 32, 35, 29]
19회 로또 데이터 저장완료 : [6, 30, 38, 39, 40, 43, 26]
20회 로또 데이터 저장완료 : [10, 14, 18, 20, 23, 30, 41]

In [118]:
lotto = pd.DataFrame(total, columns=['1번째', '2번째', '3번째', '4번째', '5번째', '6번째', '보너스'])
lotto.index = [f"{i}회차" for i in range(1, 21)]
lotto.to_excel('lotto.xlsx')
lotto

      1번째  2번째  3번째  4번째  5번째  6번째  보너스
1회차    10   23   29   33   37   40   16
2회차     9   13   21   25   32   42    2
3회차    11   16   19   21   27   31   30
4회차    14   27   30   31   40   42    2
5회차    16   24   29   40   41   42    3
6회차    14   15   26   27   40   42   34
7회차     2    9   16   25   26   40   42
8회차     8   19   25   34   37   39    9
9회차     2    4   16   17   36   39   14
10회차    9   25   30   33   41   44    6
11회차    1    7   36   37   41   42   14
12회차    2   11   21   25   39   45   44
13회차   22   23   25   37   38   42   26
14회차    2    6   12   31   33   40   15
15회차    3    4   16   30   31   37   13
16회차    6    7   24   37   38   40   33
17회차    3    4    9   17   32   37    1
18회차    3   12   13   19   32   35   29
19회차    6   30   38   39   40   43   26
20회차   10   14   18   20   23   30   41

In [49]:
url = requests.get('https://search.naver.com/search.naver?ssc=tab.news.all&where=news&sm=tab_jum&query=%EB%8C%80%EA%B5%AC')
html = BeautifulSoup(url.text)

In [141]:
import pandas as pd

a_tags = html.find_all('a', class_='news_tit')

# Extracting titles and links
titles = [a.get('title') for a in a_tags]
links = [a.get('href') for a in a_tags]  # Fixed typo from 'rinks' to 'links'

# Creating DataFrame correctly
df = pd.DataFrame({'제목': titles, '링크': links})

df

,제목,링크
0,3명 사상 ‘대구 무도장 방화범’ 대법서 징역 35년 확정,https://www.khan.co.kr/article/202502240830001
1,대구마라톤 탄자니아 게이 선수 우승…대회 신기록,https://www.yna.co.kr/view/AKR2025022302380005...
2,'2025 대구마라톤대회',https://www.newsis.com/view/NISI20250223_00207...
3,[단독] 대구 포스코 더샵 어나드범어 고분양가 '논란',http://www.metroseoul.co.kr/article/2025022450...
4,"대구 시내버스 노선, 10년 만에 개편",https://www.news1.kr/photos/7146953
5,"대구시, 2급 신공항건설단장에 나웅진 씨 내정",https://www.yna.co.kr/view/AKR2025022404890005...
6,"월요일 대구·경북 맑음, 아침 -12도 강추위…체감은 더 뚝",https://www.newsis.com/view/NISX20250223_00030...
7,"""2월은 너무 추워 ㅠㅠ"" 대구마라톤 내년엔 3월에 달린다",https://www.imaeil.com/page/view/2025022317275...
8,대구마라톤 출전한 엘리트 선수들,https://www.yna.co.kr/view/PYH2025022301730005...
9,"'원스톱으로 기업지원!'…대구시, 원스톱기웝지박람회 개최",http://www.fnnews.com/news/202502240844248014

In [119]:
news = html.find('ul', class_='list_news _infinite_list').find_all('li', class_ = 'bx')

In [214]:
def get_numbers(html):
        temp = html.find('tr', class_ = 'fst')
        span_tags = temp.find('td', class_ = 'number').find_all('span')
    
        # 몇조인지
        team = temp.find('td', class_ = 'each').text
        total = [team]
        for i in range(0, 6):
            total.append(int(span_tags[i].text))
        
        return total
    
result = []

for i in range(1, 21):
    time.sleep(2)
    url = requests.get(f'https://search.daum.net/search?w=tot&DA=JIM&rtmaxcoll=JIM&&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C%20720%2B%20{i}%ED%9A%8C%EC%B0%A8')
    html = BeautifulSoup(url.text)
    numbers = get_numbers(html)
    print(numbers)
    result.append(numbers)

['4조', 1, 6, 2, 1, 3, 2]
['2조', 4, 5, 0, 5, 5, 8]
['4조', 5, 4, 4, 9, 5, 5]
['4조', 1, 2, 4, 4, 2, 0]
['4조', 7, 5, 4, 6, 5, 5]
['5조', 1, 9, 3, 2, 0, 2]
['2조', 5, 9, 7, 0, 9, 3]
['4조', 2, 3, 4, 0, 5, 8]
['3조', 1, 3, 3, 5, 1, 0]
['2조', 7, 7, 0, 1, 7, 3]
['1조', 8, 6, 7, 6, 5, 4]
['5조', 0, 7, 6, 6, 7, 6]
['1조', 6, 6, 9, 2, 4, 5]
['3조', 4, 3, 2, 4, 9, 6]
['4조', 4, 7, 7, 2, 3, 8]
['4조', 6, 6, 4, 0, 5, 6]
['3조', 3, 1, 7, 2, 2, 7]
['1조', 5, 6, 2, 2, 2, 2]
['5조', 8, 5, 9, 2, 1, 9]
['1조', 8, 1, 9, 6, 0, 5]

In [212]:
df = pd.DataFrame(result, columns = ['조'] + [f'{i}번째' for i in range(1, 7)])
df.to_excel('연금복권.xlsx')

df

     조  1번째  2번째  3번째  4번째  5번째  6번째
0   4조    1    6    2    1    3    2
1   2조    4    5    0    5    5    8
2   4조    5    4    4    9    5    5
3   4조    1    2    4    4    2    0
4   4조    7    5    4    6    5    5
5   5조    1    9    3    2    0    2
6   2조    5    9    7    0    9    3
7   4조    2    3    4    0    5    8
8   3조    1    3    3    5    1    0
9   2조    7    7    0    1    7    3
10  1조    8    6    7    6    5    4
11  5조    0    7    6    6    7    6
12  1조    6    6    9    2    4    5
13  3조    4    3    2    4    9    6
14  4조    4    7    7    2    3    8
15  4조    6    6    4    0    5    6
16  3조    3    1    7    2    2    7
17  1조    5    6    2    2    2    2
18  5조    8    5    9    2    1    9
19  1조    8    1    9    6    0    5